<mjml>
  <mj-head>
    <mj-font name="Raleway" href="https://mautic.kds-dance.com/themes/kds-core/assets/raleway.css" />
    <mj-attributes>
      <mj-text font-family="Raleway, Arial" line-height="150%" />
    </mj-attributes>
    <mj-raw>
      <meta name="color-scheme" content="light">
      <meta name="supported-color-schemes" content="light">
    </mj-raw>
  </mj-head>
  <mj-body background-color="#fff">
    <mj-section background-url="https://mautic.kds-dance.com/themes/kds-core/assets/header-background.png"
                background-size="cover"
                background-repeat="no-repeat">

      <mj-column>
        <mj-image align="center"
                  width="180px"
                  padding="30px"
                  src="https://mautic.kds-dance.com/themes/kds-core/assets/logo-white.png"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section padding="0" background-color="#EEE">
      <mj-column>
        <mj-divider padding="0" />
        <mj-social icon-size="20px" mode="horizontal" inner-padding="10px">
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-instagram.png" href="https://www.instagram.com/kato_dance_studio"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-tiktok.png" href="https://www.tiktok.com/@kato_dance_studio"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-youtube.png" href="https://www.youtube.com/channel/UCRWrFPT1D_1nw-oEM9Mg0Bw"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-facebook.png" href="https://de-de.facebook.com/Kato-Dance-Studio-1920405988020196/"></mj-social-element>
        </mj-social>
        <mj-divider padding="0" />
      </mj-column>
    </mj-section>
    <mj-section padding="0">
      <mj-column>
        <mj-text align="center" font-size="22px" font-weight="bold" padding="28px 10px">
          Big company announcement!
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding="0">
      <mj-column>
        <mj-text font-size="16px">
          <p>Hey {contactfield=firstname},</p>
          <p>We have some big news to share with you. We are excited to announce that we have been acquired by another company. This is a big step for us and we are excited to see what the future holds.</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-image src="https://mautic.kds-dance.com/themes/kds-core/assets/placeholder.png" alt="ein Bild" padding="0" />
      </mj-column>
    </mj-section>
    <mj-section padding="0">
      <mj-column>
        <mj-button href="https://google.de" 
                   align="center"
                   background-color="black"
                   font-weight="bold"
                   font-size="18px">Call to Action</mj-button>
      </mj-column>
    </mj-section>
    <mj-section padding="0">
      <mj-column>
        <mj-text font-size="16px">
          <p>
            Nunc mattis feugiat ex scelerisque congue. Etiam tempus tincidunt tristique. Mauris commodo faucibus risus, lacinia pharetra ex ullamcorper a.
          </p>
          <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ol>
          <p>
            Nam ut justo placerat, eleifend sem at, finibus velit. Nam nec diam congue diam posuere rutrum a nec tellus. Vivamus tincidunt metus id suscipit ultrices.
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding-bottom="0">
      <mj-column>
        <!-- <mj-divider border-color="#CCC" border-width="1px" padding="0" /> -->
        <mj-divider padding="0" />
        <mj-navbar base-url="https://www.kds-dance.com">
            <mj-navbar-link font-size="14px" href="/kds-app">App</mj-navbar-link>
            <mj-navbar-link font-size="14px" href="/vermietung">Vermietung</mj-navbar-link>
            <mj-navbar-link font-size="14px" href="/kursplan">Kursplan</mj-navbar-link>
            <!-- <mj-navbar-link font-size="14px" href="/veranstaltungen">Veranstaltungen</mj-navbar-link> -->
            <mj-navbar-link font-size="14px" href="/newsletter-big-k-pop-day">Big K Pop Day</mj-navbar-link>
        </mj-navbar>
        <mj-divider padding="0" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#EEE" padding="0">
      <mj-column>
        <mj-social icon-size="18px" mode="horizontal" inner-padding="10px">
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-instagram.png" href="https://www.instagram.com/kato_dance_studio"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-tiktok.png" href="https://www.tiktok.com/@kato_dance_studio"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-youtube.png" href="https://www.youtube.com/channel/UCRWrFPT1D_1nw-oEM9Mg0Bw"></mj-social-element>
          <mj-social-element src="https://mautic.kds-dance.com/themes/kds-core/assets/icon-facebook.png" href="https://de-de.facebook.com/Kato-Dance-Studio-1920405988020196/"></mj-social-element>
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section background-color="#EEE" padding="0">
      <mj-column width="50%">
        <mj-text font-size="14px" color="#444">
          <p>
            Kato Dance Studio GmbH<br/>
            Maxstraße 6<br/>
            01067 Dresden
          </p>
          <p>
            Geschäftsführer: Kurt Richter<br/>
            USt-IdNr.: DE365311223
          </p>
        </mj-text>
      </mj-column>
      <mj-column width="50%">
        <mj-text font-size="14px" color="#444">
          <p>
            Telefon: <a href="tel:01732824248">0173 282 4248</a><br/>
            Mail: <a href="mailto:Kato.Dance.Studio@gmail.com">Kato.Dance.Studio@gmail.com</a>
          </p>
          <p>
            Handelsregister: HRB 44652<br/>
            Amtsgericht Dresden
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section padding="0" background-color="#EEE">
      <mj-column>
        <mj-navbar base-url="https://www.kds-dance.com">
            <mj-navbar-link font-size="14px" color="#444" href="/impressum">Impressum</mj-navbar-link>
            <mj-navbar-link font-size="14px" color="#444" href="/agb">AGB</mj-navbar-link>
            <mj-navbar-link font-size="14px" color="#444" href="/datenschutz">Datenschutz</mj-navbar-link>
        </mj-navbar>
        <mj-divider border-width="1px" border-color="#AAA" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#EEE" padding-top="0">
      <mj-column>
        <mj-text font-size="14px" align="center" color="#444">
          {webview_text}<br/>
          {unsubscribe_text}
        </mj-text>
        <mj-raw>
          <img src="{tracking_pixel}" style="visibility: hidden; width: 0px; height: 0px;" />
        </mj-raw>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>