<mjml>
  <mj-body background-color="#fff">
    <mj-section padding-bottom="20px" padding-top="20px">
      <mj-column data-slot-container="1">
        <mj-text>
          Hey {contactfield=firstname},
        </mj-text>
        <mj-text data-slot="text">
          
        </mj-text>
        <mj-text>
          Liebe Grüße<br/>
          Kato Dance Studio<br/>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="33%">
        <mj-image src="https://app.kds-dance.com/img/email/logo_kds_trans.png" alt="KDS Logo" align="center" padding-top="0"></mj-image>
        <mj-social padding-top="0px">
          <mj-social-element name="instagram"></mj-social-element>
          <mj-social-element name="youtube"></mj-social-element>
        </mj-social>
      </mj-column>
      <mj-column width="66%">
        <mj-text>
          <table>
            <tbody>
              <tr>
                <td colspan="2" style="text-transform: uppercase;">
                  <h2 style="margin-top: 8px;margin-bottom: 0">Kurt Richter</h2>
                    </td>
              </tr>
              <tr>
                <td colspan="2" style="text-transform: uppercase; padding-bottom: 2em;">Geschäftsführer</td>
              </tr>
              <tr>
                <td style="width: 1em; padding-right: 8px;"><img src="https://kds.exxa.de/img/email/location.png" style="width: 1em; height: 1em;" moz-do-not-send="true"></td>
                <td>Maxstraße 6, 01067 Dresden</td>
              </tr>
              <tr>
                <td style="width: 1em; padding-right: 8px;"><img src="https://kds.exxa.de/img/email/phone.png" style="width: 1em; height: 1em;" moz-do-not-send="true"></td>
                <td>01732 / 82 42 48</td>
              </tr>
              <tr>
                <td style="width: 1em; padding-right: 8px;"><img src="https://kds.exxa.de/img/email/email.png" style="width: 1em; height: 1em;" moz-do-not-send="true"></td>
                <td><a class="moz-txt-link-abbreviated" href="mailto:kato.dance.studio@gmail.com" target="_blank">kato.dance.studio@gmail.com</a></td>
              </tr>
              <tr>
                <td style="width: 1em; padding-right: 8px;"><img src="https://kds.exxa.de/img/email/web.png" style="width: 1em; height: 1em;" moz-do-not-send="true"></td>
                <td><a href="www.kds-dance.com" moz-do-not-send="true" class="moz-txt-link-freetext" target="_blank">www.kds-dance.com</a></td>
              </tr>
            </tbody>
          </table>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>